  <%- include('header'); -%>

  <main class="w-75 mx-auto">
    <hr>
    <h2 class="display-6 mb-3">Demandas Exames </h2>

    <table class="table table-striped table-hover" >
        <tr> 
            <td>
                <strong> Exame </strong> 
            </td>
            <td>
                <strong>  Pacientes </strong>
            </td>
            <td>
                <strong>  Vagas / Mês </strong>
            </td>
            <td>
                <strong>  Agendados / Mês </strong>
            </td>
        </tr>
        
        <% for(var i=0; i < demandas.length; i++) {%>
            <tr>
                <td> <%= demandas[i].exame %>  </td>
            
                <td> <%= demandas[i].qtde_pacientes %> </td> 

                <td> <%= demandas[i].oferta %> </td> 

                <td> <%= demandas[i].agendado %> </td> 
            </tr>
            
        <% } %>
    </table>
  </main>
  
  
  <%- include('footer'); -%>
